extends layout

block content
  header
    h2 Fuel Quote
  section
    nav
      ul
        li
          a(href="/") Home
        li
          a(href='clientInfo') Client Information
        li
          a(href='reqQuote') Request a Quote
        li
          a.active(href='quoteHist') Quote History
    table
      tbody
        tr
          th Request Date
          th Delivery Date
          th Gallons
          th Suggested Price
          th Total Price
      each quote in quote_list
        tr
          td #{quote.requestDate_formatted}
          td #{quote.deliveryDate_formatted}
          td #{quote.gallonsRequested}
          td #{quote.suggestedPrice}
          td #{quote.totalAmountDue}
      else
        tr
          td No quotes.
          td No quotes.
          td No quotes.
          td No quotes.
          td No quotes.
          td No quotes.
        //- tr
        //-   each quote in quoteHist
        //-     td= quote
  footer
    p Fuel Prediction
